*
!/.gitignore
!/README.md
!/.gitkeep
!/.keep
**/.DS_Store
!/app
/app/*
!/app/public
/app/public/*
!/app/public/wp-content
!/app/public/wp-content/**
/app/public/wp-content/plugins/johnny5k.zip
/app/public/wp-content/uploads
/app/public/wp-content/uploads/**
/app/public/wp-content/.DS_Store
/app/public/wp-content/**/.DS_Store
